p.happy {
    font-size: 50px;
    color: hotpink;
}

body {
    background-image: url("./Assets/kcOtBfMN.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

p {
    font-size: 45px;
    color: lightcoral;
}

.paragraf {
    width: 600px;
    background-color: rgba(255, 255, 255, 0.5);
}

img {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hide {
    display: none;
}
/*irrelevant kommentar*/
button {
    color: rgb(38, 41, 43);
    padding: 25px;
    font-size: 18px;
    background-color: rgb(253, 165, 132);
    border-radius: 50%;
    margin: 50px;
    
    
    box-shadow: 2px 9px #999;
}

button:hover{
    transform: translate(2px, 9px);
    box-shadow: none;
}

.menu {
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: fixed;
}