p.happy {
    font-size: 50px;
    color: hotpink;
}

body {
    background-image: url("./Assets/kcOtBfMN.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

p {
    font-size: 45px;
    color: lightcoral;
}

.paragraf {
    width: 600px;
    background-color: rgba(255, 255, 255, 0.5);
}

img {
    background-repeat: no-repeat;
    background-attachment: fixed;
}